[tool.poetry]
name = "novem"
version = "0.2.0"
description = "python library for the novem.no data visualisation platform"
authors = ["Sondov Engen <sondov@novem.no>"]
homepage = "https://novem.no"
repository = "https://github.com/novem-no/novem"
readme = "README.md"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.26.0"

[tool.poetry.scripts]
novem = 'novem.cli:run_cli'

[tool.poetry.dev-dependencies]
pytest = "^7.1.0"
pytest-cov = "^3.0.0"
pre-commit = "^2.16.0"
flake8 = "^4.0.1"
black = {version = "^21.12b0", allow-prereleases = true}
mypy = "^0.930"
pydantic = "^1.8.2"
isort = "^5.10.1"
requests-mock = "^1.9.3"
types-requests = "^2.27.7"
pyfakefs = "^4.5.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 79
target-version = ['py38']
include = '\.pyi?$'
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
  | foo.py           # also separately exclude a file named foo.py in
                     # the root of the project
)
'''

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 79

[tool.pytest.ini_options]
filterwarnings = [
  "ignore::UserWarning",
]
